/* landing page */
.body {
    margin:0px;
    padding:0px;
    background-image: url("images/JJJ07519.jpg");
    color: white;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.main {
    font-family: 'Quicksand', sans-serif;
    margin-top: -2em;
}

.leftbox {
    margin-top: 3em;
}
.top {
    display: flex;
    justify-content: space-between;
    margin-left: 5em;
    margin-right: 2em;
    margin-top: 2em;
}

.name {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: .5em;
}

.projects {
    margin-top: 8em;
    margin-left: 7em;
    font-size: .75em;
}

.brahms {
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-weight: bold;
    font-size: 1.5em;
}

.scheduler {
    margin-top: 2em;
}

.schedulertitle {
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    align-items: center;
}

/* Navigation bar*/

.menubar {
    position: absolute;
    right: 0;
    font-family: 'Quicksand', sans-serif;
}

.contact-menubar {
    position: absolute;
    right: 0;
    font-family: 'Quicksand', sans-serif;
    margin-top: -6em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

li {
    float: left;
}

a {
    display: block;
    padding: 8px;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: lightblue;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

/* bio page begins here */

.bio-body {
    background-image: url("images/IMG_8498.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: white;
}

.josh {
    width: 20%;
    height: 20%;
    margin-top: 2em;
    border-radius: 50%;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    flex-wrap: nowrap;
    font-size: 2em;
    padding: 3em;
}

.linkbox {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.link {
    margin: 3em;
}

.space {
    color: rgba(0, 0, 0, 0);
    margin-top: 30em;
}

/* contact page */

.contact-body {
    background-image: url("/images/JJJ07490.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.contact-textbox {
    display: flex;
    flex-direction:column;
    gap: 1em;
    font-size: 1.5em;
    color: white;
    text-align: center;
    margin-left: 2em;
    margin-top: 4em;
}

.linkholder {
    display: flex;
    align-items: center;
    justify-content: center;
}