.main {
    background-image: url("images/JJJ07519.jpg");
    color: white;
    background-size: 90em 55em;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: 55em
}

.top {
    display: flex;
    font-family: 'Quicksand', sans-serif;
    justify-content: space-between;
    margin-left: 5em;
    margin-right: 2em;
    margin-top: 2em;
}

.name {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: .5em;
}

.intro {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    margin-left: 5em;
    margin-right: 75%;
    margin-top: 3em;
}

.buttons {
    margin-right: 4em;
}

.bio {
    background-image: url(images/IMG_8498.jpg);
    background-size: 90em 55em;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: 55em
}

.josh {
    width: 20%;
    height: 20%;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4em;
}