.main {
    background-image: url("images/JJJ07519.jpg");
    color: white;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.leftbox {
    margin-top: 3em;
}
.top {
    display: flex;
    font-family: 'Quicksand', sans-serif;
    justify-content: space-between;
    margin-left: 5em;
    margin-right: 2em;
    margin-top: 2em;
}

.name {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: .5em;
}


.buttons {
    margin-right: 4em;
}

.m19 {
    display: flex;
    justify-content: center;
    margin-top: 30em;
  }
  
  .m19 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
  .m19 .letter {
    transform-origin: 50% 100%;
    display: inline-block;
    line-height: 1em;
  }

.spacer1 {
    margin-top: 40em;
    color: rgba(0, 0, 0, 0)
}

/* second page begins here */

.bio {
    background-color: darkslateblue;
}

.josh {
    width: 20%;
    height: 20%;
    margin-top: 30em;
    border-radius: 50%;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.content {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    margin-top: 5em;
    margin-left: 40em;
    margin-right: 45em;
    flex-wrap: nowrap;
}

.buttonpage2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    color: white;
}

.space {
    color: rgba(0, 0, 0, 0);
    margin-top: 60em;
}

.resume {
    font-family: 'Quicksand', sans-serif;
    margin-left: 2em;
}

.fa-brands {
    margin-left: .60em;
}